

/* remember to add the background image*/

* {
    box-sizing: content-box;
    color: white;
}

body {
    background-color: black;
}



img{
    width: 300px;
}
.nav-img {
    width: 238px;
    height: 60px;
}


nav {
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
}

.nav-lst {
    list-style: none;
    height: 35px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    margin: 0, auto;
}
.nav-lst {
    margin: 0, auto;
    padding: 0;
}

.nav-part, .nav-about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: auto;
    padding: 10px;
    
}

.nav-part:hover, .nav-about:hover {
    background-color: #C2EDF2;

}

/* centering the intro on the image */


.CPOSC{
    font-size: 70px;
    text-align: center;
}

.small-intro {
    text-align: center;
    font-size: 60px;
}

.big-intro {
    background-image: url("https://c.wallhere.com/photos/63/bc/2048x1365_px_Code_coding_color_Codes_computer_Computer_Screen_CSS_HTML-1334119.jpg!d");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxy-boys{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-bottom: 150px;
    
}
.when, .where{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: linear-gradient(#C2EDF2, #18818C);
    height: 150px;
    width: 400px;
    margin: 10px;
    list-style: none;
    
}

.when{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 10px;
    justify-content: center;
}

.li-sept {
    
    font-size: 40px;
}

.where{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    margin-top: 10px;
    justify-content: center;
}

.where-li, .lanc{
    font-size: 20px;
}

.destination{
    font-size: 40px;
}

/* for the text starting underneath the image in the intro*/

.cposc-info{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}


.cposc-intro{
    padding: 20px;
    color: black;
    max-width: 1000px;
    margin: 0 auto;
    background: linear-gradient(#C2EDF2, #18818C);
}

.description{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    border: 2px solid rgb(194, 237, 242);
    border-radius: 7px;
}

.why-cposc, .why-lanc, .what-expect{

    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 15px;
    box-shadow: 1px 1px 7px -1px rgb(194, 237, 242);
    padding: 10px;
}
   


.connect-logo {
    width: 50px;
}

.connect {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    background: linear-gradient(#C2EDF2, #18818C);
    list-style: none;
    max-width: 1000px;
    justify-content: flex-start;
    margin: 0 auto;
    border-radius: 5px; 
}

.connect-logo, .main-connect-links{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.main-connect-links{
    width: 25%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-left: 350px;
    
}

.connect-logo{
    display: flex;
    align-items: flex-end;
    padding-right: 15px;
    padding-left: 15px;
}

.connect-h{
    color: black;
    font-size: 40px;
}

/* start of the sponsors stuff */
.sponsortext-button {
    display: flex;
    max-width: 1000px;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
}

.ready{
    display: flex;
    align-self: center;
    background: linear-gradient(#C2EDF2, #18818C);
    width: 25%;
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    color: black;
}

.ready:hover{
    background: linear-gradient(#18818C, #C2EDF2);
}

.first-headings{
    align-items: flex-start;
    font-size: 40px;
}

.sonohead{
    font-size: 20px;
}


/*sponsor images and headers*/
.sponsor-header{
    color: #18818C;
    border-bottom: solid 2px #18818C;
}

.the-sponsors{
    max-width: 1000px;
    margin: 0 auto;
    background: linear-gradient(#C2EDF2, #18818C);
    border-radius: 7px;
}

.sponsorlogos{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.group-sponsors{
    display: flex;
    flex-wrap: wrap;
}

.sponsorlogos-group{
    flex-wrap: wrap;
    width: 25%;
    padding: 20px;
    margin: 0 auto;
    padding-left: 50px;
}


.sponsorlogos-group2{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    padding: 20px;
    margin: 0 auto;
    padding-left: 50px;
}

.sponsorlogos-group2:nth-child(1){

}
/* the footer*/



.fake-footer, footer{
    display: flex;
    max-width: 1000px;
    background-color: lightgray;
    margin: 0 auto;
}